<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Contact Form</title>
</head>
<body style="background-color:rgb(194, 240, 247);">
    <h1 id="header" calss="important" style="color: blue;"> WE WANT YOU</h1>
    <span style="text-align: center; border:3px solid rgb(1, 11, 15);padding: 5px;text-align:center;font-size:35px;">
        Contact us
    </span>
   
    <p class="important">
       Insert your details below
    </p>
    <form action="URL">
        <label for="Full Name">Full Name</label><br>
        <input type="text" id="Full Name" name="Full Name" ><br>
        <label for="Date Of Birth">Date Of Birth</label><br>
        <input type="date" id="Date Of Birth" name="Date Of Birth" ><br>
        <label for="Phone">Phone Number</label><br>
        <input type="text" id="Phone" name="Phone Number" ><br>
        <label for="email">Email</label> <br>
        <input type="email" id="email" name="email"><br>
        <label for="points">How would you rate your basketball knowledge? (between 0 and 5):</label> <br>
        <input type="range" id="points" name="points" min="0" max="5"> <br>
        <label for="resume">Add your resume</label> <br>
        <input type="file" id=""resume name="resume"> <br>
        <br>
        <input type="submit"><br>
            </form>
            <br><br><br>
            <button onclick="window.location = 'homepage.html#jump'">Back to home page</button><br>
           
</body>
</html>