<!DOCTYPE html>
<html lang="en">
<head>

    <title>Basketball Vintage Store</title>
</head>
<body style="background-color:rgb(194, 240, 247);">
    <h1 id="header" calss="important" style="color: blue; "> HELLO!</h1>

        <span style="text-align: center; border:3px solid rgb(1, 11, 15);padding: 5px;text-align:center;font-size:35px;">
             Welcome to Basketball Vintage Store
        </span>
   
    <p class="important">
        If you want to join us, please press on the link
    </p>

    <button onclick="window.location = 'contact.html#jump'">move to contact page</button><br>

    <img src="../static/workersPic.jpg" alt="picture" width="600px" height="400px">
    
</body>
</html>